{% extends 'Clientes/home.html' %}


{% block titulo %}
    <h1> Productos</h1>
{% endblock titulo %}   

{% block contenido %}
    <<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Color</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
    {% for p in productos  %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nombre_producto }}</td>
                <td>{{ p.cantidad }}</td>
                <td>{{ p.color }}</td>
                <td>{{ p.precio }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}